<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <!-- 
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql:sheptorder</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.default_schema">s1</property>
 -->
 
		<mapping class="org.shept.apps.demo.order.orm.Customer" />
		<mapping class="org.shept.apps.demo.order.orm.Address" />
		<mapping class="org.shept.apps.demo.order.orm.Item" />
		<mapping class="org.shept.apps.demo.order.orm.Order" />
		<mapping class="org.shept.apps.demo.order.orm.OrderItem" />
		<mapping class="org.shept.apps.demo.order.orm.Unit" />
		<mapping class="org.shept.apps.demo.order.orm.Vatrate" />
		<mapping class="org.shept.apps.demo.order.orm.OrderNumber" />
		
		<mapping resource="queries.hbm.xml"/>

    </session-factory>
</hibernate-configuration>
